body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    color: #181816;
}

/* Header */
header {
    background-color: #1f2933;
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
}

nav a:hover {
    text-decoration: underline;
}

/* Hero */
.hero {
    background-color: #f89c23;
    color: white;
    padding: 60px 20px;
    text-align: center;
}

.hero h2 {
    margin-bottom: 10px;
}

.hero p {
    margin-bottom: 20px;
}

.btn {
    background-color: white;
    color: #2a6eec;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 20px;
    font-size: 14px;
}

.btn:hover {
    background-color: #eff0f1f1;
}

/* Content */
.content {
    padding: 40px 20px;
    max-width: 800px;
    margin: auto;
}

.content h3 {
    text-align: center;
    margin-bottom: 30px;
}

.box {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
   
}

/* Footer */
footer {
    background-color: #1f2933;
    color: white;
    text-align: center;
    padding: 30px;
}
<img><b>
img,iframe
    display: block;
    margin: 220px auto;
    width: 15%;   
  <style>

